src/config/local.js
node_modules
bower_components
.sass-cache
src/styles/*.css
.bundle
bundle
test/integration/error_screenshots
lib-cov
*.seed
*.log
*.out
*.pid
npm-debug.log
*~
*#
.DS_STORE
.netbeans
nbproject
.project
.idea
.resources
.node_history
temp
tmp
.tmp
dist
test/bower_components
