/* ==========================================================================
   Constructs
   ========================================================================== */

/* Objects
   ========================================================================== */

/**
 * Flag construct inspired by Harry Robert's talke on the Flag/Media Object:
 * Inspired by: http://csswizardry.com/2013/05/the-flag-object/
 */

.flag-construct {
  display: table;
  width: 100%;
}

.flag-construct__media,
.flag-construct__body {
  display: table-cell;
  vertical-align: middle;

  .flag-construct--align-top & {
    vertical-align: top;
  }

  .flag-construct--align-bottom & {
    vertical-align: bottom;
  }

  .flag-construct--align-middle & {
    vertical-align: middle;
  }

}

.flag-construct__media {
  &:first-child {
    padding-right: 1.5rem;
  }

  &:last-child {
    padding-left: 1.5rem;
  }

  > img {
    display: block;
    max-width: none;
  }
}

.flag-construct__body {
  width: 100%;
}


/* Bleed
   ========================================================================== */

/* Bleed full */

.bleed-full {
  @extend .clearfix;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}