/* ==========================================================================
   Layout
   ========================================================================== */


/* Mast logo
   ========================================================================== */

.mast-logo {
  font-size: initial;
  line-height: initial;
  &, * {
    display: inline-block;
    vertical-align: top;
    word-spacing: -0.26rem;
  }
  &__text {
    @extend .visually-hidden;
  }
  &__label {
    @extend .antialiased;
    margin: 0.45rem 0 0 0.5rem;
    background: rgba($base-color, 0.64);
    color: #fff;
    border-radius: $base-border-radius;
    padding: 0 0.25rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    font-weight: $base-font-bold;
    word-spacing: normal;
  }
  &.mast-logo--h .mast-logo__image  {
    width: auto;
    height: 2rem;
  }
}