/* ==========================================================================
   Animations
   ========================================================================== */


/* Results panel
   ========================================================================== */

@include keyframes(results-panel-reveal) {
  0% {
    opacity: 0;
    top: 50%;
    right: 50%;
    bottom: auto;
    @include transform(translate(50%, -50%) scale(0));
  }
  50% {
    opacity: 1;
  }
  100% {
    @include transform(translate(0, 0) scale(1));
  }
}


/* Welcome modal
   ========================================================================== */


@include keyframes(splash-bg) {
  from {
    background-size: 400% 400%;
  }
  to {
    background-size: 800% 800%;
  }
}


/* Spin clockwise (used in loading)
   ========================================================================== */

@include keyframes(spin-c) {
  from { @include transform(rotate(0deg)); }
    to { @include transform(rotate(360deg)); }
}