// GLOBAL

html {
  @include box-sizing(border-box);
}

*, *:before, *:after, input[type="search"] {
  @include box-sizing(inherit);
}

html, body {
  height: 100%;
  font-size: 100%;
  line-height: 1.5;
}

body {
  background: #fff;
  color: $base-font-color;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-style: $base-font-style;
  // min-width: $row-min-width;
}

// Links

a {
  cursor: pointer;
  color: $primary-color;
  text-decoration: none;
  @include transition(opacity 0.2s ease 0s);
  @include transform(translateZ(0));
}

a:visited {
  color: $primary-color;
}

a:hover {
  opacity: 0.64;
  outline: none;
}

a:active{
  outline: none;
  @include transform(translate(0, 1px));
}

// SITE CANVAS

#site-canvas {
  background: #fff;
}

// SITE HEADER

#site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: red;
  z-index: 100;
  pointer-events: none;
  height: 5rem;
  @include background(linear-gradient(rgba(#fff, 0.80), rgba(#fff, 0.48), rgba(#fff, 0.24), rgba(#fff, 0)));
  > * {
    pointer-events: all;
  }
}

#site-title {
  position: absolute;
  top: 1rem;
  z-index: 10;
  left: 50%;
  @include transform(translate(-50%, 0));
  span {
    @extend .visually-hidden;
  }
  small {
    @extend .antialiased;
    display: block;
    position: absolute;
    top: 0.45rem;
    right: -0.25rem;
    @include transform(translate(100%, 0));
    background: rgba($base-color, 0.48);
    color: #fff;
    border-radius: $global-radius;
    padding: 0 0.25rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
    text-transform: uppercase;
  }
}

.nav-block-prime,
.nav-block-sec {
  position: absolute;
  top: 1rem;
  z-index: 10;
  > * {
    float: left;
    margin-right: 0.5rem;
    &:last-child {
      margin-right: 0;
    }
  }
}

.nav-block-prime {
  left: 1rem;
}

.nav-block-sec {
  right: 1rem;
}

.form-search {
  width: 16rem;
}

// WELCOME MODAL

#modal-welcome {
  .modal-header {
    @include background(linear-gradient(rgba($base-color, 0.64), rgba($base-color, 0.80), rgba($base-color, 0.92)), url("../graphics/layout/oam-logo-symbol.svg") center center no-repeat);
    background-size: 400%;
    color: #fff;
    text-align: center;
    padding: $modal-padding*2;
    p {
      font-size: 1.25rem;
      line-height: 1.75rem;
      opacity: 0.64;
    }
  }
  .close {
    color: #fff;
  }
  #modal-title {
    img {
      height: 3rem;
      width: auto;
    }
    span {
      @extend .visually-hidden;
    }
  }
  .bttn-latest-welcome {
    width: 64%;
    max-width: 20rem;
  }
  .mod-block {
    text-align: center;
  }
  .mod-sep {
    position: relative;
    text-align: center;
    color: tint($base-color, 64%);
    text-transform: uppercase;
    margin: 1rem (-$modal-padding*2);
    font-size: 0.875rem;
    line-height: 1.25rem;
    span {
      position: relative;
      z-index: 2;
      display: inline-block;
      background: tint($base-color, 92%);
      padding: 0 0.5rem;
    }
    &:before {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 0;
      height: 1px;
      width: 100%;
      content: "";
      background: tint($base-color, 80%);
    }
  }
}

// INFO MODAL

#modal-info {
  @include media(medium-up) {
    .prose {
      @include columns(3);
      @include column-gap(2rem);
      h2 {
        margin-top: 0;
        -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
          page-break-inside: avoid; /* Firefox */
               break-inside: avoid; /* IE 10+ */
      }
    }
  }
}

