// GLOBAL

html {
  @include box-sizing(border-box);
}

*, *:before, *:after, input[type="search"] {
  @include box-sizing(inherit);
}

html, body {
  height: 100%;
  font-size: 100%;
  line-height: 1.5;
}

body {
  background: #fff;
  color: $base-font-color;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-style: $base-font-style;
  // min-width: $row-min-width;
}

// Links

a {
  cursor: pointer;
  color: $primary-color;
  text-decoration: none;
  @include transition(opacity 0.2s ease 0s);
  @include transform(translateZ(0));
}

a:visited {
  color: $primary-color;
}

a:hover {
  opacity: 0.64;
  outline: none;
}

a:active{
  outline: none;
  @include transform(translate(0, 1px));
}

// SITE CANVAS

#site-canvas {
  background: #fff;
}

// SITE HEADER

#site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  pointer-events: none;
  height: 5rem;
  @include background(linear-gradient(rgba(#fff, 0.80), rgba(#fff, 0.48), rgba(#fff, 0.24), rgba(#fff, 0)));
  > * {
    pointer-events: all;
  }
}

#site-title {
  position: absolute;
  top: 1rem;
  right: 6.5rem;
  z-index: 10;
  @include transition(all 0.64s ease 0s);
  span {
    @extend .visually-hidden;
  }
  small {
    @extend .antialiased;
    display: block;
    position: absolute;
    top: 0.45rem;
    right: -0.25rem;
    @include transform(translate(100%, 0));
    background: rgba($base-color, 0.48);
    color: #fff;
    border-radius: $global-radius;
    padding: 0 0.25rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
    text-transform: uppercase;
  }
  @include media(large-up) {
    right: 50%;
    @include transform(translate(50%, 0));
  }
}

.nav-block-prime,
.nav-block-sec {
  position: absolute;
  top: 1rem;
  z-index: 10;
  > * {
    float: left;
    margin-right: 0.5rem;
    &:last-child {
      margin-right: 0;
    }
  }
}

.nav-block-prime {
  left: 1rem;
}

.nav-block-sec {
  right: 1rem;
}

.form-search {
  width: 16rem;
}

.meta-menu .drop-content {
  right: -0.5rem;
}

.app-menu,
.meta-menu {
  > * {
    float: left;
    margin-right: 0.5rem;
    &:last-child {
      margin-right: 0;
    }
  }
}

// SITE HEADER

#site-body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

// WELCOME MODAL

#modal-welcome {
  .modal-header {
    @include transform(translateZ(0));
    @include background(linear-gradient(rgba($base-color, 0.64), rgba($base-color, 0.80), rgba($base-color, 0.92)), url("../graphics/layout/oam-logo-symbol.svg") center center no-repeat);
    color: #fff;
    text-align: center;
    padding: $modal-padding*2;
    background-size: 800% 800%;
    @include animation(splash-bg 4s ease 0s 1);
    p {
      font-size: 1.25rem;
      line-height: 1.75rem;
      opacity: 0.64;
    }
  }
  .close {
    color: #fff;
  }
  #modal-title {
    img {
      height: 3rem;
      width: auto;
    }
    span {
      @extend .visually-hidden;
    }
  }
  .bttn-latest-welcome {
    width: 64%;
    max-width: 20rem;
  }
  .mod-block {
    text-align: center;
  }
  .mod-sep {
    position: relative;
    text-align: center;
    color: tint($base-color, 64%);
    text-transform: uppercase;
    margin: 1rem (-$modal-padding*2);
    font-size: 0.875rem;
    line-height: 1.25rem;
    span {
      position: relative;
      z-index: 2;
      display: inline-block;
      background: tint($base-color, 92%);
      padding: 0 0.5rem;
    }
    &:before {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 0;
      height: 1px;
      width: 100%;
      content: "";
      background: tint($base-color, 80%);
    }
  }
}

// INFO MODAL

#modal-info {
  @include media(medium-up) {
    .prose {
      @include columns(3);
      @include column-gap(2rem);
      margin-bottom: -0.75rem;
      p, a {
        -webkit-backface-visibility:hidden;
      }
      h2 {
        @include heading(1.25rem);   // 20
        margin: 0 0 1rem 0;
        -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
          page-break-inside: avoid; /* Firefox */
               break-inside: avoid; /* IE 10+ */
      }
    }
  }
}

// ANIMATION

@include keyframes(pane-reveal) {
  0% {
    opacity: 0;
    top: 50%;
    right: 50%;
    bottom: auto;
    @include transform(translate(50%, -50%), scale(0));
  }
  50% {
    opacity: 1;
  }
  100% {
    @include transform(translate(0, 0), scale(1));
  }
}

@include keyframes(splash-bg) {
  from {
    background-size: 400% 400%;
  }
  to {
    background-size: 800% 800%;
  }
}


.loading {
  @extend .antialiased;
  position: absolute;
  z-index: 9980;
  top: 50%;
  left: 50%;
  width: 8rem;
  height: 8rem;
  margin: -4rem 0 0 -4rem;
  background: rgba($base-color, 0.8);
  padding: 2rem 1rem;
  border-radius: $global-radius;
  color: #fff;
  text-align: center;

  opacity: 0;
  visibility: hidden;
  @include transform(scale(0));
  @include transition(all 0.24s ease 0s);

  &.revealed {
    opacity: 1;
    visibility: visible;
    @include transform(scale(1));
  }

  &:before {
    display: block;
    @extend .icon-spinner;
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    line-height: 1;
    margin: 0 auto 0.5rem auto;
    @include animation(spin-c 1s linear 0s infinite);
  }
}

@include keyframes(spin-c) {
  from { @include transform(rotate(0deg)); }
    to { @include transform(rotate(360deg)); }
}
