// MAP

#map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.leaflet-bottom.leaflet-left {
  top: auto;
  bottom: 50%;
  left: 1rem;
  transform: translate(0, 50%);
}

.zoom-controls {
  margin: 0 !important;
}

// GRID

.gl {
  fill-opacity: 0;
  stroke: rgba($base-color, 0.08);
  stroke-width: 1;
}

.gs {
  fill-opacity: 0;
  fill: $primary-color;
  stroke: rgba($base-color, 0.08);
  stroke-width: 1;
  @include transition(all 0.2s ease 0s);
}
.gs-active {
  fill-opacity: 0.64;
  fill: $secondary-color;
  pointer-events: none;
}

.gs-density-high {
  fill-opacity: 0.48;
}
.gs-density-med {
  fill-opacity: 0.24;
}
.gs-density-low {
  fill-opacity: 0.08;
}

.gs-density-high.gs-inactive,
.gs-density-med.gs-inactive,
.gs-density-low.gs-inactive {
  opacity: 0.48;
}

.g-footprint {
  fill-opacity: 0;
  stroke: rgba($base-color, 0.64);
  stroke-width: 1;
}
.gs-highlight {
  stroke: rgba($base-color, 0.64) !important;
  stroke-width: 1 !important;
}

.gs-tooltip-count {
  & > * {
    pointer-events: none;
  }
  .leaflet-popup-content-wrapper {
    padding: 0;
    background: none;
    box-shadow: none;
  }
  .leaflet-popup-content {
    @extend .antialiased;
    text-align: center;
    font-weight: $base-font-bold;
    background: rgba($base-color, 0.48);
    display: block;
    color: #fff;
    border-radius: $base-border-radius;
    padding: 0 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: auto !important;
  }
  .leaflet-popup-tip-container {
    display: none;
  }
}

#minimap {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  width: 16rem;
  height: 10rem;
  cursor: pointer;
  background: tint($base-color, 92%);
  box-shadow: 0 0 0 1px $base-alpha-color, 0 2px 6px 2px rgba($base-color, 0.24);
  border-radius: $base-border-radius;
  overflow: hidden;
}