/* ==========================================================================
   Modal about
   ========================================================================== */

#modal-about {
  .prose {
    a {
      position: relative;
    }
    h2 {
      @include heading(1.25rem);   // 20
      margin: 0 0 1rem 0;
    }
  }

  @include media(medium-up) {
    .prose {
      @include columns(3);
      @include column-gap(2rem);
      .prose-block {
        -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
          page-break-inside: avoid; /* Firefox */
               break-inside: avoid; /* IE 10+ */
        > *:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}