
// DROPDOWNS

.drop {
  position: relative;
}

.drop-toggle {
  &.caret {
    &:after {
      @extend .icon-s-arr-down;
      opacity: 0.32;
      font-size: 1rem;
      margin-left: 0.25rem;
    }
  }
  &:focus {
    outline: 0;
  }
}

.drop-content {
  @extend %base-overlay-skin;
  position: absolute;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 12rem;
  margin: 0;
  text-align: left;
  opacity: 0;
  padding: 1rem;
  visibility: hidden;
  @include transform(translate3d(0, 0, 0));
  @include transition(opacity 0.16s ease 0s, margin 0.16s ease 0s, visibility 0.16s linear 0s);
  &:before {
    @extend .icon-triangle-up;
    position: absolute;
    z-index: 15;
    left: 1rem;
    color: #fff;
    font-size: 1rem;
    line-height: 1;
    height: 1rem;
    width: 1rem;
    .dropdown > & {
      @extend .icon-triangle-up;
      top: -0.675rem;
      text-shadow: 0 -1px $brdr-rgba;
    }
    .dropup > & {
      @extend .icon-triangle-down;
      bottom: -0.675rem;
      text-shadow: 0 1px $brdr-rgba;
    }
    .right > & {
      left: auto;
      right: 1rem;
    }
    .center > & {
      left: 50%;
      margin-left: -0.5rem;
    }
  }
  .dropdown > & {
    top: 100%;
    margin-top: -1rem;
  }
  .dropup > & {
    bottom: 100%;
    margin-bottom: -1rem;
  }
  .center > & {
    left: 50%;
    @include transform(translate(-50%, 0));
  }
  .right > & {
    right: 0;
    left: auto;
  }
  .open > & {
    opacity: 1;
    visibility: visible;
  }
  .dropdown.open > & {
    margin-top: 0.75rem;
  }
  .dropup.open > & {
    margin-bottom: 0.75rem;
  }
}

.drop-menu {
  list-style: none;
  margin: -0.5rem -1rem;
  padding: 0;
  @extend .clearfix;
  white-space: nowrap;
  font-family: $base-font-family;
  font-weight: $base-font-regular;
  font-size: 0.875rem;
  line-height: 1.25rem;
  .sep:not(:first-child) {
    box-shadow: inset 0 1px 0 0 $brdr-rgba;
    padding-top: 0.25rem;
    margin-top: 0.25rem;
  }
}

.drop-menu .drop-menu-sectitle {
  display: block;
  padding: 0.375rem 1rem;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: tint($base-font-color, 32%);
}

.drop-menu .drop-menu-sectitle:not(:first-child) {
  box-shadow: inset 0 1px 0 0 $brdr-rgba;
  margin-top: 0.5rem;
  padding-top: 0.75rem;
}

.drop-menu > * > a,
.drop-menu > * > a:visited {
  position: relative;
  display: block;
  padding: 0.375rem 1rem;
  color: inherit;
  @include transition(background-color 0.16s ease 0s);
  &:hover,
  &:focus {
    color: inherit;
    background-color: tint($base-color, 96%);
    opacity: 1;
  }
}

.drop-menu > * {
  &.has-icon-bef a,
  &.has-icon-aft a {
    &:before,
    &:after {
      position: absolute;
      z-index: 1;
      top: 0.35rem;
      font-size: 1rem;
      opacity: 0.48;
    }
  }
  &.has-icon-bef a {
    padding-left: 2.5rem;
    &:before {
      left: 1rem;
    }
  }
  &.has-icon-aft a {
    padding-right: 2.5rem;
    &:after {
      right: 1rem;
    }
  }
  &.twitter a:before { @extend .icon-twitter; }
  &.facebook a:before { @extend .icon-facebook; }
  &.google-plus a:before { @extend .icon-google-plus; }
  &.clipboard a:before { @extend .icon-clipboard; }
  &.id-editor a:before { @extend .icon-id-editor; }
  &.josm a:before { @extend .icon-josm; }
}

.drop-menu > .active > a,
.drop-menu > .active > a:hover,
.drop-menu > .active > a:focus {
  color: inherit;
  outline: 0;
  font-weight: $base-font-bold;
  &:after {
    @extend .icon-s-tick;
    position: absolute;
    z-index: 1;
    right: 1rem;
    top: 0.2rem;
    font-size: 1rem;
    opacity: 0.32;
  }
}

.drop-menu > .disabled > a {
  @extend .disabled;
}


// TITLED
  
*[data-title-rel]:hover {
  position: relative;
}

*[data-title-rel]:hover,
*[data-title]:hover,
*[data-title].zc-hover {
  &:after {
    content: attr(data-title);
    position: absolute;
    left: 50%;
    top: 100%;
    z-index: 1400;
    width: auto;
    max-width: 12rem;
    padding: 0 0.5rem;
    background: rgba($base-color, 0.8);
    border-radius: $global-radius;
    margin-top: 0.25rem;
    @include transform(translate(-50%, 0));
    font-size: 0.75rem;
    line-height: 1.5rem;
    color: #fff;
    @extend .truncated;
    text-align: center;
    @extend .antialiased;
    font-family: $base-font-family;
    font-weight: $base-font-regular;
    font-style: $base-font-style;
    text-transform: uppercase;
  }
}

.single-actions {
  *[data-title].zc-hover {
    &:after {
      left: auto;
      right: 0;
      @include transform(translate(0, 0));
    }
  }
}
