/* ==========================================================================
   Results panel
   ========================================================================== */

#results-pane {
  position: absolute;
  top: 4rem;
  right: 1rem;
  bottom: 1rem;
  z-index: 2000;
  width: 24rem;
  padding: 1rem;
  background: tint($base-color, 92%);
  box-shadow: 0 0 0 1px $base-alpha-color, 0 2px 6px 2px rgba($base-color, 0.24);
  border-radius: $base-border-radius;

  /* Animation */

  @include animation(results-panel-reveal 0.24s ease 0s 1);
}

.results-hub,
.results-single {
  margin: -1rem;
}

.pane-dismiss {
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  z-index: 30;
  span {
    @extend .visually-hidden;
  }
  &:before {
    @extend %oam-ds-icon-sm-xmark;
    display: block;
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    text-align: center;
  }
}

.pane-dismiss,
.pane-dismiss:visited {
  color: tint($base-color, 64%);
}

.pane-more {
  position: absolute;
  top: 0.75rem;
  right: 2.5rem;
  z-index: 30;
  span {
    @extend .visually-hidden;
  }
  &:before {
    @extend %oam-ds-icon-ellipsis-vertical;
    display: block;
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    text-align: center;
  }
}

.pane-more,
.pane-more:visited {
  color: tint($base-color, 64%);
}

.pane-header {
  position: relative;
  padding: 1rem;
  background: #fff;
  border-radius: $base-border-radius $base-border-radius 0 0;
  z-index: 20;
  &:after {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background: $base-alpha-color;
    content: "";
  }
}

.pane-title {
  margin: 0;
  padding-right: 3.5rem;
  @include heading(1rem);
  @extend .truncated;
}

.pane-subtitle {
  opacity: 0.64;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0;
}

.pane-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background: #fff;
  border-radius: 0 0 $base-border-radius $base-border-radius;
  min-height: 1rem;
  .results-single & {
    padding: 1rem;
  }
  &:before {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background: $base-alpha-color;
    content: "";
  }
}

.pane-body {
  position: absolute;
  top: 4.75rem;
  left: 0;
  right: 0;
  overflow-y: scroll;
  z-index: 10;
  .results-hub & {
    bottom: 1rem;
  }
  .results-single & {
    bottom: 3rem;
  }
}

.pane-body-inner {
  padding: 1rem;
  overflow: hidden;
}

.results-list {
  list-style: none;
  margin: 0;
  padding: 0;
  > li {
    float: left;
    width: calc(50% - 0.25rem);
    margin: 0 0.5rem 0.5rem 0;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:last-child,
    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }
}

.single-media {
  position: relative;
  text-align: center;
  background: tint($base-color, 80%);
  margin: -1rem -1rem 1rem -1rem;
  height: 16rem;
  line-height: 16rem;
  font-size: 0;
  vertical-align: middle;
  overflow: hidden;
  padding: 1rem;
  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: $base-alpha-color;
    content: "";
    z-index: 3;
  }
  img {
    position: relative;
    z-index: 2;
    max-width: 100%;
    height: 100%;
    display: inline-block;
    box-shadow: 0 2px 12px 2px rgba($base-color, 0.24);
    border-radius: $base-border-radius / 2;
    vertical-align: top;
  }
  .blur-media {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    display: block;
    @include filter(blur(0.5rem));
    opacity: 0.24;
  }
}

.single-actions {
  @extend .clearfix;
  text-align: center;
  margin-bottom: 1rem;

  .form__group {
    margin-bottom: 0;
  }

  .form__label {
    @extend .visually-hidden;
  }
}

.button-download {
  @extend .button, .button--achromic;
  min-width: 48%;
  &:before {
    @extend %oam-ds-icon-download;
  }
}

.button-tms-options {
  @extend .button, .button--achromic, .button--text-hidden;
  &:before {
    @extend %oam-ds-icon-sm-chevron-down;
  }
}

.has-tms {
  .single-actions {
    .form__group {
      float: left;
      width: calc(64% - 0.5rem);
    }
    .button-download {
      float: right;
      width: 36%;
      min-width: initial;
    }
  }
}

.single-details {
  margin: 0 -1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  box-shadow: inset 0 1px 0 0 $base-alpha-color;
  @extend .clearfix;
  dt, dd {
    float: left;
    margin: 0;
    padding: 0.5rem 1rem;
    box-shadow: inset 0 1px 0 0 $base-alpha-color;
    &:first-of-type {
      box-shadow: none;
    }
  }
  dt {
    width: 32%;
    text-transform: uppercase;
    clear: left;
    padding-right: 0.5rem;
    font-size: 0.775rem;
  }
  dd {
    width: 68%;
    text-align: right;
    padding-left: 0.5rem;
  }
}

.single-related-tms {
  margin: 1rem -1rem 0 -1rem;
  padding: 1rem;
  background: tint($base-color, 88%);
  box-shadow: inset 0 1px 0 0 $base-alpha-color, inset 0 -1px 0 0 $base-alpha-color;

  > header {
    margin-bottom: 1rem;
    > *:last-child {
      margin-bottom: 0;
    }

    h1 {
      @include heading(1rem);
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 0.875rem;
      line-height: 1.25rem;
      margin-bottom: 0.5rem;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    .form__group {
      margin-bottom: 0;
    }

    .form__label {
      @extend .visually-hidden;
    }

    > li {
      margin-bottom: 0.5rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.drop__content--tms-options {
  width: 14rem;
}

.drop__menu-item.ide:before {
  @extend %oam-ds-icon-id-editor;
}

.drop__menu-item.josm:before {
  @extend %oam-ds-icon-map;
}

.drop__menu-item.clipboard:before {
  @extend %oam-ds-icon-clipboard-list;
}

.single-actions {
  *[data-title].zc-hover {
    &:after {
      left: auto;
      right: 0;
      @include transform(translate(0, 0));
    }
  }
}

.single-pager {
  list-style: none;
  margin: -0.5rem 0;
  padding: 0;
  text-align: center;
  word-spacing: -0.26rem;
  font-size: 1rem;
  > li {
    display: inline-block;
    vertical-align: top;
    word-spacing: normal;
  }
  > li a {
    display: block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    span {
      @extend .visually-hidden;
    }
  }
  > li a,
  > li a:visited {
    color: inherit;
  }
  .view-all a:before { @extend %oam-ds-icon-grid-3x3; }
  .view-prev a:before { @extend %oam-ds-icon-chevron-left; }
  .view-next a:before { @extend %oam-ds-icon-chevron-right; }
}


/* Cards
   ========================================================================== */

$card-padding: 0.5rem;

.card {
  background: #fff;
  box-shadow: 0 0 0 1px $base-alpha-color;
  border-radius: $base-border-radius;
  text-align: left;
  position: relative;
  > a {
    display: block;
  }
  > a, a:visited {
    color: inherit;
  }
  > a > * {
    pointer-events: none;
  }
  .card-header,
  .card-body {
    padding: $card-padding;
  }
  .card-header + .card-body {
    margin-top: -$card-padding;
  }
  .card-media {
    @extend %base-framed;
    margin: (-$card-padding) (-$card-padding) 0 (-$card-padding);
    height: 6rem;
    background: tint($base-color, 96%);
    overflow: hidden;
    &:before, & {
      border-radius: $base-border-radius $base-border-radius 0 0;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      @include transform(translate(-50%, -50%));
      width: 120%;
      height: auto;
    }
  }
  &.card-result-entry .card-title {
    @extend .visually-hidden;
  }
  .card-details {
    font-size: 0.775rem;
    overflow: hidden;
    margin: 0;
    dt, dd {
      float: left;
      margin: 0;
      line-height: 1rem;
    }
    dt {
      text-transform: uppercase;
      font-size: 0.625rem;
      clear: left;
      padding-right: 0.5rem;
      width: 30%;
    }
    dd {
      width: 70%;
    }
  }
}