/* ==========================================================================
   Skins
   ========================================================================== */

%base-box-skin {
  background: #fff;
  box-shadow: 0 0 0 1px $base-alpha-color;
  border-radius: $base-border-radius;
}

%press-box-skin {
  background: tint($base-color, 92%);
  box-shadow: 0 0 0 1px $base-alpha-color, 0 2px 6px 2px rgba($base-color, 0.24);
  border-radius: $base-border-radius;
}

%base-overlay-skin {
  background: #fff;
  box-shadow: 0 2px 12px 2px rgba($base-color, 0.24), 0 0 0 1px $base-alpha-color;
  border-radius: $base-border-radius;
}

%base-framed {
	position: relative;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    content: "";
    box-shadow: inset 0 0 0 1px $base-alpha-color;
    pointer-events: none;
  }
}