/* ==========================================================================
   Page
   ========================================================================== */


/* Inner
   ========================================================================== */

.page__inner {
  background: tint($base-color, 96%);
}


/* Header
   ========================================================================== */

.page__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  pointer-events: none;
  height: 5rem;
  background: linear-gradient(rgba(#fff, 0.80), rgba(#fff, 0.48), rgba(#fff, 0.24), rgba(#fff, 0));

  > * {
    pointer-events: all;
  }
}


/* Headline */

.page__headline {
  position: absolute;
  top: 1rem;
  left: 21rem;
  z-index: 10;
  transition: all 0.64s ease 0s;

  @include media(large-up) {
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.page__title {
  font-size: inherit;
  line-height: 1;
  margin: 0;
  a {
    display: inline-block;
    vertical-align: top;
  }
}


/* Navigation */

.nav-block-prime,
.nav-block-sec {
  position: absolute;
  top: 1rem;
  z-index: 10;
  > * {
    float: left;
    margin-right: 0.5rem;
    &:last-child {
      margin-right: 0;
    }
  }
}

.nav-block-prime {
  left: 1rem;
}

.nav-block-sec {
  right: 1rem;
}

/* Navigation: Search */

.global-search {
  width: 16rem;

  .form__group {
    margin: 0;
  }

  .form__label {
    @extend .visually-hidden;
  }

  .form__control {
    padding-right: 2.25rem;
  }
}

.global-search__button-go {
  @extend .button, .button--achromic, .button--text-hidden, .button--medium;

  &:before {
    @extend %oam-ds-icon-magnifier-right;
  }
}

.global-search__button-location {
  @extend .button, .button--base-unbounded, .button--text-hidden, .button--medium;
  position: absolute;
  right: 2rem;
  top: 50%;
  z-index: 99;
  
  &:before {
    @extend %oam-ds-icon-location;
  }

  &, &:active {
    transform: translate(0, -50%);
  }
}


/* Navigation: App + Meta */

.app-menu,
.meta-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  > * {
    float: left;
    margin-right: 0.5rem;
    &:last-child {
      margin-right: 0;
    }
  }
}

.button-filters {
  @extend .button, .button--achromic, .button--text-hidden, .drop__toggle;
  &:before {
    @extend %oam-ds-icon-sliders-horizontal;
  }
}

.drop__content--filters {
  width: 14rem;
}

.button-upload {
  @extend .button, .button--achromic;
  &:before {
    @extend %oam-ds-icon-upload;
  }
}

.button-info {
  @extend .button, .button--achromic, .button--text-hidden, .drop__toggle;
  &:before {
    @extend %oam-ds-icon-circle-information;
  }
}

.button-layers {
  @extend .button, .button--achromic, .button--text-hidden, .drop__toggle;
  &:before {
    @extend %oam-ds-icon-layers;
  }
}

.button-latest {
  @extend .button, .button--achromic, .button--text-hidden, .drop__toggle;
  &:before {
    @extend %oam-ds-icon-clock-back;
  }
}

.info-menu small {
  display: block;
  opacity: 0.64;
  font-size: 0.75rem;
}

.status-item {
  padding-right: 2rem !important;
  &:after {
    position: absolute;
    top: 50%;
    right: 1rem;
    height: 1rem;
    width: 0.5rem;
    content: "";
    transform: translate(0, -50%);
    border-radius: $base-border-radius;
    background: $base-font-color;
  }
  &--up:after { background: $success-color; }
  &--down:after { background: $danger-color; }
  &--meh:after { background: $warning-color; }
  &--unknown:after { background: $base-font-color; }
}


/* Body
   ========================================================================== */

.page__body {
  @extend .clearfix;
}


/* Footer
   ========================================================================== */

.page__footer {
  box-shadow: inset 0 1px 0 0 $base-alpha-color;
  background: #fff;
  padding: 2rem 0;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba($base-font-color, 0.64);

  > .inner {
    @extend .row, .row--centered;
  }
  
  *:last-child {
    margin-bottom: 0;
  }
}


/* ==========================================================================
   layout
   ========================================================================== */

.layout {
  &__header {
    position: relative;
    color: inherit;
    padding: {
      top: $global-spacing * 2;
      right: 0;
      bottom: $global-spacing * 2;
      left: 0;
    }
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transform: translateZ(0);

    > * {
      position: relative;
      z-index: 2;
    }

    > .inner {
      @extend .row;
    }

    &::before {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      background: linear-gradient(rgba($primary-color, 0), rgba($primary-color, 0.08));
    }

    @include media(medium-up) {
      padding: {
        top: $global-spacing * 3;
        bottom: $global-spacing * 3;
      }
    }

    @include media(large-up) {
      padding: {
        top: $global-spacing * 4;
        bottom: $global-spacing * 4;
      }
    }

  }

  &__headline {
    @include col(12/12);

    > *:last-child {
      margin-bottom: 0;
    }
    
    @include media(medium-up) {
      @include col(10/12);
    }

    @include media(large-up) {
      @include col(8/12);
    }
  }

  &__title {
    @extend .heading, .heading--xlarge;
  }

  &__subtitle {
    text-transform: uppercase;
    font-weight: $base-font-regular;
    color: rgba($base-font-color, 0.48);
    font-size: 0.875rem;
    line-height: 1.25;
    margin: 0;

    @include media(medium-up) {
      position: absolute;
      transform: translate(0, -100%);
    }
  }

  &__introduction {
    color: rgba($base-font-color, 0.64);
    font-size: 1.25rem;
    line-height: 1.75rem;
    > *:last-child {
      margin-bottom: 0;
    }

    @include media(medium-up) {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }

  &__body {
    padding: {
      top: $global-spacing * 2;
      bottom: $global-spacing * 2;
    }

    > .inner {
      @extend .row;
      @extend .row--centered;
    }

    @include media(medium-up) {
      padding: {
        top: $global-spacing * 3;
        bottom: $global-spacing * 3;
      }
    }

    @include media(large-up) {
      padding: {
        top: $global-spacing * 4;
        bottom: $global-spacing * 4;
      }
    }
  }

  &__main-content {
    @include col(12/12);

    > *:last-child {
      margin-bottom: 0;
    }
  }
}


/* Page/Layout arrangement modifiers
   ========================================================================== */

.page--article {
  .layout__main-content {
    @include media(medium-up) {
      @include col(10/12, $offset: 1/12);
    }

    @include media(large-up) {
      @include col(8/12, $offset: 2/12);
    }
  }
}

.page--app {
  .page__footer,
  .layout__header {
    @extend .visually-hidden;
  }

  .layout__body {
    padding: 0;

    > .inner {
      position: relative;
      padding: 0;
      margin: 0;
      height: 100vh;
      max-width: none;
      background: red;
    }
  }
}

/* Map layers
   ========================================================================== */

.map-layers {
  position: absolute;
  left: 0;
  top: 50vh;
  transform: translate(0px, -90px);

  &__content {
    height: 10rem;
    z-index: 1000;
    width: 12rem;
    padding: $global-spacing;
    overflow: hidden;
    text-align: left;
    color: $base-font-color;
    font-size: 1rem;
    line-height: 1.5;
    background: #fff;
    box-shadow: 0 2px 12px 2px $base-alpha-color, 0 0 0 1px $base-alpha-color;
    border-radius: $base-border-radius;
  }
}

.map-layers-list {
  .drop__menu-item {
    padding-left: 3.5rem;
    line-height: 2.5rem;

    &--active:after {
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  &__map {
    position: absolute !important;
    height: 2rem;
    width: 2rem;
    top: 50%;
    left: 1rem;
    transform: translate(0px, -50%);
    border-radius: $base-border-radius;
  }

  &__label {
    font-size: 0.775rem;
    color: $base-font-color;
  }
}