// TYPE

// MISC

%tabular-text {
  -webkit-font-feature-settings: "kern" 0, "liga" 0, "calt" 1, "dlig" 0, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
     -moz-font-feature-settings: "kern" 0, "liga" 0, "calt" 1, "dlig" 0, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
      font-feature-settings: "kern" 0, "liga" 0, "calt" 1, "dlig" 0, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
}

// HEADINGS

h1, .hd-xl,
h2, .hd-l,
h3, .hd-m,
h4, .hd-s,
h5, .hd-xs,
h6, .hd-xxs {
  font-family: $base-font-family;
  font-weight: $base-font-bold;
  margin: 0 0 1rem 0;
  @include media(medium-up) {
    margin: 0 0 1.25rem 0;
  }
}

.hd-xl {
  @include heading(1.75rem, xlarge-up);   // 28, 32, 36, 40
}

.hd-l {
  @include heading(1.5rem, xlarge-up);    // 24, 28, 32, 36
}

.hd-m {
  @include heading(1.25rem, xlarge-up);   // 20, 24, 28, 32
}

.hd-s, .hd-xs, .hd-xxs {
  @include heading(1rem, xlarge-up);      // 16, 20, 24, 28
}

.hd-suptitle {
  font-family: $base-font-family;
  font-weight: $base-font-regular;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.hd-deco {
  position: relative;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 1px;
    content: "";
    background: $base-font-color;
  }
}

.hd-deco-center {
  &:before {
    left: 50%;
    @include transform(translate(-50%));
  }
}

.hd-deco-ceil {
  padding-top: 0.75rem;
}

.hd-deco-ground {
  padding-bottom: 0.75rem;
  &:before {
    top: calc(100% - 1px);
  }
}

.hd-deco-neg {
  &:before {
    background: #fff;
  }
}

.prose {

  // Embeds
  .cp_embed_iframe {
    @extend %base-box-skin;
    padding: 1rem;
    vertical-align: top;
  }

  // Aligning
  
  img.align-center,
  figure.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  font-size: 1rem;
  line-height: 1.75;

  .callout {
    @include media(medium-up) {
      margin-left: -2rem;
      margin-right: -2rem;
    }
  }

  .check-list,
  .cta-list {
    list-style: none;
    margin-left: 0;
    li {
      display: block;
      position: relative;
      padding-left: 1.5rem;
      color: inherit;
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        font-size: 1rem;
        color: $base-color;
        opacity: 0.48;
      }
    }
  }

  .check-list li:before { @extend .icon-tick; }
  .cta-list li:before { @extend .icon-arr-tail-right; }

  .details-list {
    @extend .clearfix;
    padding: 0;
    box-shadow: 0 1px 0 0 $pos-brdr-rgba;
    dt {
      margin: 0;
      padding: 0.25rem 0;
      box-shadow: inset 0 1px 0 0 $pos-brdr-rgba;
      &:first-of-type {
        box-shadow: none;
      }
    }
  }

  .dropcap:first-letter {
    font-size: 3.4em;
    padding: 0 0.1em 0 0;
    line-height: 0.7; 
    float: left;
    margin: 0.1em 0.1em 0 0;
  }

  code, kbd, pre, samp {
    font-family: $code-font-family;
  }

  code, pre {
    border-radius: $global-radius;
    background: tint($base-color, 96%);
  }

  code {
    padding: 0.125rem 0.25rem;
    font-size: 80%;
  }

  pre {
    display: block;
    padding: 1rem;
    word-break: break-all;
    word-wrap: break-word;
    box-shadow: inset 0 0 0 1px $pos-brdr-rgba;
    overflow: auto;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 3rem 0 1.5rem 0;
  }

  h1 {
    @include heading(1.75rem, xlarge-up);   // 28, 32, 36, 40
  }

  h2 {
    @include heading(1.5rem, xlarge-up);    // 24, 28, 32, 36
  }

  h3 {
    @include heading(1.25rem, xlarge-up);   // 20, 24, 28, 32
  }

  h4, h5, h6 {
    @include heading(1rem, xlarge-up);      // 16, 20, 24, 28
  }
  
  p, ul, ol, dl, blockquote, figure, .highlight, .callout, pre, table, .table-responsive {
    margin-bottom: 1.5rem;
  }

  ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  ul, ol {
    list-style-position: outside;
    margin-left: 1rem; 
  }

  dt {
    font-weight: $base-font-bold;
  }

  dd {
    margin-bottom: 0.5rem;
  }

  hr {
    border: 0;
    height: 1px;
    background: $base-color;
    opacity: 0.08;
    width: 80%;
    max-width: 16rem;
    margin: 3rem auto;
  }

  blockquote {
    border-left: 4px solid tint($base-color, 92%);
    padding: 0.5rem 1rem;
    *:last-child {
      margin-bottom: 0;
    }
    footer {
      opacity: 0.64;
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: $base-font-regular;
      margin-top: -0.5rem;
      &:before {
        content: '— ';
      }
    }
  }

  > *:first-child {
    margin-top: 0 !important;
  }

  .highlight > *:last-child,
  > *:last-child {
    margin-bottom: 0 !important;
  }

  @include media(small-up) {
    pre {
      margin-left: -1rem;
      margin-right: -1rem;
    }
    .details-list {
      dt, dd {
        float: left;
        width: 50%;
        margin: 0;
        padding: 0.25rem 0;
        box-shadow: inset 0 1px 0 0 $pos-brdr-rgba;
        &:first-of-type {
          box-shadow: none;
        }
      }
      dt {
        clear: left;
        padding-right: 0.5rem;
      }
      dd {
        text-align: right;
        padding-left: 0.5rem;
      }
    }
  }

  @include media(medium-up) {
    font-size: 1.25rem;
    line-height: 1.6;

    .check-list,
    .cta-list {
      li {
        &:before {
          top: 0.25em;
        }
      }
    }

    .details-list {
      dt, dd {
        padding: 0.5rem 0;
      }
    }

    h1, h2, h3, h4, h5, h6 {
      margin: 3.5rem 0 1.75rem 0;
    }

    p, ul, ol, dl, blockquote, figure, .highlight, .callout, pre, table, .table-responsive {
      margin-bottom: 1.75rem;
    }

    ul, ol {
      margin-left: 2rem; 
    }

    dd {
      margin-bottom: 0.75rem;
    }

    figcaption {
      font-size: 1rem;
      line-height: 1.5rem;
    }

    hr {
      margin: 3.5rem auto;
    }

    blockquote {
      padding: 1rem 1.5rem;
      footer {
        font-size: 1rem;
        line-height: 1.5rem;
        margin-top: -1rem;
      }
    }

    pre {
      padding: 2rem;
      margin-left: -2rem;
      margin-right: -2rem;
    }
  }
}