/* ==========================================================================
   Animations
   ========================================================================== */


/* Results panel
   ========================================================================== */

@keyframes(results-panel-reveal) {
  0% {
    opacity: 0;
    top: 50%;
    right: 50%;
    bottom: auto;
    transform: translate(50%, -50%) scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}


/* Welcome modal
   ========================================================================== */


@keyframes(splash-bg) {
  from {
    background-size: 400% 400%;
  }
  to {
    background-size: 800% 800%;
  }
}


/* Spin clockwise (used in loading)
   ========================================================================== */

@keyframes(spin-c) {
  from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
