.bttn {
  position: relative;
  user-select: none;
  display: inline-block;
  font-style: normal;
  text-align: center;
  white-space: nowrap;
  padding: .5rem 1rem;
  border-radius: $global-radius;
  border: 0;
  background-image: none;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  text-shadow: none;
  opacity: 1;
  box-shadow: $box-shadow-default;
  text-decoration: none;
  color: white;
  cursor: pointer;
  background-color: $darkBlue;
  vertical-align: top;
  &:visited {
    color: #FFF;
  }
  a {
    color: white;
    display: block;
    width: 100%;
    height: 100%;
    &:hover {
      opacity: 0.75;
    }
  }
  span {
    float: left;
  }
  .mdi-icon {
    fill: $white;
  }
}

.mdi-icon {
  margin-bottom: -6px;
}

.mdi-icon-link {
  height: 16px;
  width: 16px;
  fill: $grey1;
  position: relative;
  top: -3px;
}

// New buttons
.bttn-block {
  display: block;
  width: 100%;
}

.bttn-lg {
  padding: 0.75rem 0.75rem .75rem;
}

.bttn-primary, .bttn-submit, .bttn-submit[type=text] {
  background-color: $teal;
}

.bttn-info {
  background-color: $darkBlue;
}

.bttn-secondary {
  background-color: transparent;
  border: 1px solid $grey2;
  box-shadow: none;
  color: $grey;
  &:visited {
    color: $grey;
  }
}

.bttn-secondary-teal {
  background-color: transparent;
  border: 1px solid $teal;
  box-shadow: none;
  color: $teal;
  &:visited {
    color: $teal;
  }
}

.bttn-secondary-darkblue {
  background-color: transparent;
  border: 1px solid $darkBlue;
  box-shadow: none;
  color: $darkBlue;
  &:visited {
    color: $darkBlue;
  }
}

.bttn-grey {
  background-color: $grey2;
  color: $darkBlue;
  &:visited {
    color: $darkBlue;
  }
}

.bttn-submit {
  @extend .clearfix;
  text-align: center;
}

.bttn-icon {
  @extend .clearfix;
  padding-right: .5rem;
  padding-left: 1rem;
  .mdi-icon {
    stroke: $white;
    fill: $white;
    padding: 3px;
    margin-left: 1rem;
    float: right;
  }
}
