fieldset {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $grey2;
  margin: 0;
  padding: 0;
}

.panel-title {
  padding-bottom: 1rem;
  border-bottom: 1px solid $grey2;
}

.form-wrapper {
  max-width: 560px;
  padding: 32px;
  margin: 100px auto 32px;
  background-color: $grey5;
  h1 {
    font-size: 1.5rem;
    margin-top: 0;
  }
}

.formcontrol, .form__control, input[type=text], textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: $base-font-color;
  background: #fff;
  border: 1px solid $grey2;
  border-radius: $global-radius;
  font-family: inherit;
  &::placeholder {
    color: $grey;
  }
}

.form-group {
  margin-bottom: $global-spacing;

  > *:last-child {
    margin-bottom: 0;
  }
}

.form-options-set {
  display: flex;
  flex-wrap: wrap;
  background-color: $grey3;
  padding: $global-spacing / 2;
  .radio {
    margin-right: 16px;
    input {
      margin-right: 4px;
    }
  }
}

.form-label {
  color: $grey;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 0 ($global-spacing / 2) 0;
}

.form-help {
  font-size: .875rem;
  color: $grey1;
  margin: 0 0 ($global-spacing / 3) 0;
}

.form-note {
  font-size: .875rem;
  color: $grey1;
  line-height: 1.4;
  margin-bottom: $global-spacing;
  a {
    color: $teal;
    text-decoration: none;
  }
}

.form-extra-actions {
  padding: 32px 0;
  border-bottom: 1px solid $grey2;
  margin-bottom: 32px;
  a {
    @extend .clearfix;
    padding: 5px;
  }
  .mdi-icon {
    stroke: none;
    fill: $grey;
  }
}

.form-fieldset-actions {
  text-align: right;
  .disabled {
    display: none;
  }
}

// TODO: Why is the widget taking up the whole width?
//       And wrapped in a border?
.rw-widget.rw-state-focus,
.rw-widget.rw-state:hover {
  border: 1px solid $grey2;
}
.rw-combo-box {
  border: 0;
}

.imagery-location-import {
  .bttn {
    padding: 5px;
    margin-right: 4px;
  }
}

.message-alert {
  color: red;
}

.global-search {
  box-shadow: $box-shadow-default;
  .form__input-group {
    .form__control {
      width: 320px;
      height: 40px;
      padding: 2px 10px 0;
      border: none;
    }
  }
  .form__label {
    border: 0 none;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
  }
  .search-submit {
    position: absolute;
    top: 10px;
    right: 10px
  }
}

#profile-form input,
#profile-form textarea {
  margin-bottom: 1rem;
}
