@import "variables";

.progress {
  width: 100%;
  height: 22px;
  position: relative;
  border-radius: 5px;
  border: 1px solid $grey2;

  .value {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 22px;
    font-size: 12px;
    font-weight: 600;
    color: $grey;
  }
  
  
  .fill {
    height: 100%;
    background-color: $grey2;
    width: m#{a}x(10px ,calc(var(--progress-value)));
    border-radius: 5px;
  }
}

.progress.muted {
  opacity: 0.4;
}
