/* ==========================================================================
   Results panel
   ========================================================================== */

#results-pane {}

.pane-top-control {
  float: right;
  span {
    @extend .visually-hidden;
  }
  &:before {
    display: block;
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    text-align: center;
  }
}

.pane-more {
  @extend .pane-top-control;
  &:before {
    @extend %oam-ds-icon-ellipsis-vertical;
  }
}

.pane-zoom-to-fit {
  @extend .pane-top-control;
  &:before {
    @extend %oam-ds-icon-crosshair-2;
  }
}

.pane-dismiss {
  @extend .pane-top-control;
  &:before {
    @extend %oam-ds-icon-sm-xmark;
  }
}

.pane-more,
.pane-zoom-to-fit,
.pane-dismiss {
  color: tint($base-color, 64%);
  &:visited {
    color: inherit;
  }
}

.pane-header {
  background: #fff;
  border-radius: $base-border-radius $base-border-radius 0 0;
  z-index: 20;
  &:after {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background: $base-alpha-color;
    content: "";
  }
}

.pane-title {
  margin: 0;
  padding-right: 3.5rem;
  @include heading(1rem);
  @extend .truncated;
  &.with-zoom-to-fit {
    padding-right: 5.5em;
  }
}

.pane-subtitle {
  opacity: 0.64;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0;
}

.pane-footer {
  background: #fff;
  border-radius: 0 0 $base-border-radius $base-border-radius;
  min-height: 1rem;
  .results-single & {
    padding: 1rem;
  }
  &:before {
    width: 100%;
    height: 1px;
    background: $base-alpha-color;
    content: "";
  }
}

.pane-body {}

.pane-body-inner {}

.results-list {
  list-style: none;
  margin: 0;
  padding: 0;
  > li {
    float: left;
    width: calc(50% - 0.25rem);
    margin: 0 0.5rem 0.5rem 0;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:last-child,
    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }
}

.single-media {
  text-align: center;
  background: tint($base-color, 80%);
  margin: -1rem -1rem 1rem -1rem;
  height: 16rem;
  font-size: 0;
  vertical-align: middle;
  padding: 1rem;
  &:after {
    width: 100%;
    height: 1px;
    background: $base-alpha-color;
    content: "";
    z-index: 3;
  }
  img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    box-shadow: 0 2px 12px 2px rgba($base-color, 0.24);
    border-radius: $base-border-radius / 2;
    vertical-align: middle;
  }
}

.single-actions {
  @extend .clearfix;
  text-align: center;
  margin-bottom: 1rem;

  .form__group {
    margin-bottom: 0;
  }

  .form__label {
    @extend .visually-hidden;
  }

  .button--tms-preview {
    display: none;
  }
}

.button-download {
  @extend .button, .button--achromic;
  min-width: 48%;
  &:before {
    @extend %oam-ds-icon-download;
  }
}

.button-tms-options {
  @extend .button, .button--achromic, .button--text-hidden;
  &:before {
    @extend %oam-ds-icon-sm-chevron-down;
  }
}

.button--tms-preview {
  @extend .button, .button--achromic, .button--text-hidden;
  &:before {
    @extend %oam-ds-icon-map;
  }
}

.has-tms {
  .single-actions {
    .form__group {
      float: left;
      width: calc(64% - 0.5rem);
    }
    .button-download {
      float: right;
      width: 36%;
      min-width: initial;
    }
  }
}

.preview-options {
  @extend .clearfix;
  width: auto;
  pointer-events: none;
  white-space: nowrap;
  background: rgba(#fff, 0.48);
  border-radius: $base-border-radius;
  padding: 0.25rem;

  .preview-options__title,
  .preview-options__buttons,
  .button {
    @extend .antialiased;
    pointer-events: auto;
    display: inline-block;
  }

  .preview-options__buttons,
  .button {
    float: none;
    vertical-align: top;
  }
}

.button--display {
  background: rgba($base-color, 0.48);
  color: #fff;

  &:hover {
    background: rgba($base-color, 0.56);
  }

  &:active,
  &.button--active,
  &.button--active:hover {
    background: rgba($base-color, 0.8);
  }
}

.preview-options__title {
  margin: 0;
  text-transform: uppercase;
  font-size: 0.675rem;
  line-height: 1.5rem;
  font-weight: $base-font-regular;
  color: rgba($base-font-color, 0.48);
  padding: 0 0.5rem 0 0.25rem;
  vertical-align: top;
}

.single-details {
  margin: 0 -1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  box-shadow: inset 0 1px 0 0 $base-alpha-color;
  @extend .clearfix;
  dt, dd {
    float: left;
    margin: 0;
    padding: 0.5rem 1rem;
    box-shadow: inset 0 1px 0 0 $base-alpha-color;
    &:first-of-type {
      box-shadow: none;
    }
  }
  dt {
    width: 32%;
    text-transform: uppercase;
    clear: left;
    padding-right: 0.5rem;
    font-size: 0.675rem;
  }
  dd {
    width: 68%;
    text-align: right;
    padding-left: 0.5rem;
  }
  .user-details dt, .user-details dd {
    box-shadow: inset 0 1px 0 0 $base-alpha-color;
  }
}

.single-related-tms {
  margin: 1rem -1rem 0 -1rem;
  padding: 1rem;
  background: tint($base-color, 88%);
  box-shadow: inset 0 1px 0 0 $base-alpha-color, inset 0 -1px 0 0 $base-alpha-color;

  > header {
    margin-bottom: 1rem;
    > *:last-child {
      margin-bottom: 0;
    }

    h1 {
      @include heading(1rem);
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 0.875rem;
      line-height: 1.25rem;
      margin-bottom: 0.5rem;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    .form__group {
      margin-bottom: 0;
    }

    .form__label {
      @extend .visually-hidden;
    }

    > li {
      margin-bottom: 0.5rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .form__input-group {
    float: left;
    width: 85%;
  }

  .button--tms-preview  {
    float: left;
    margin-left: 1rem;
  }
}

.drop__content--tms-options {
  width: 14rem;
}

.drop__menu-item.ide:before {
  @extend %oam-ds-icon-id-editor;
}

.drop__menu-item.josm:before {
  @extend %oam-ds-icon-map;
}

.drop__menu-item.clipboard:before {
  @extend %oam-ds-icon-clipboard-list;
}

.single-actions {
  *[data-title].zc-hover {
    &:after {
      left: auto;
      right: 0;
      transform: translate(0, 0);
    }
  }
}

.single-pager {
  list-style: none;
  margin: -0.5rem 0;
  padding: 0;
  text-align: center;
  word-spacing: -0.26rem;
  font-size: 1rem;
  > li {
    display: inline-block;
    vertical-align: top;
    word-spacing: normal;
  }
  > li a {
    display: block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    span {
      @extend .visually-hidden;
    }
  }
  > li a,
  > li a:visited {
    color: inherit;
  }
  .view-all a:before { @extend %oam-ds-icon-grid-3x3; }
  .view-prev a:before { @extend %oam-ds-icon-chevron-left; }
  .view-next a:before { @extend %oam-ds-icon-chevron-right; }
}


/* Cards
   ========================================================================== */

$card-padding: 0.5rem;

.card {
  background: #fff;
  box-shadow: 0 0 0 1px $base-alpha-color;
  border-radius: $base-border-radius;
  text-align: left;
  position: relative;
  > a {
    display: block;
  }
  > a, a:visited {
    color: inherit;
  }
  > a > * {
    pointer-events: none;
  }
  .card-header,
  .card-body {
    padding: $card-padding;
  }
  .card-header + .card-body {
    margin-top: -$card-padding;
  }
  .card-media {
    @extend %base-framed;
    margin: (-$card-padding) (-$card-padding) 0 (-$card-padding);
    height: 6rem;
    background: tint($base-color, 96%);
    overflow: hidden;
    &:before, & {
      border-radius: $base-border-radius $base-border-radius 0 0;
    }
    img {
      display: block;
      transform: translate(-50%, -50%);
      width: 120%;
      height: auto;
    }
  }
  &.card-result-entry .card-title {
    @extend .visually-hidden;
  }
  .card-details {
    font-size: 0.775rem;
    overflow: hidden;
    margin: 0;
    dt, dd {
      float: left;
      margin: 0;
      line-height: 1rem;
    }
    dt {
      text-transform: uppercase;
      font-size: 0.625rem;
      clear: left;
      padding-right: 0.5rem;
      width: 30%;
    }
    dd {
      width: 70%;
    }
  }
}
