.sidebar-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: $sidebar-width;
  box-shadow: $box-shadow-default;
}

#sidebar-body {
  background-color: $grey4;
}

#sidebar-header {
  margin: 0 1rem;
}

.pane-header {
  padding: 0 1rem;
  h2 {
    @extend .clearfix;
    width: 345px;
    text-overflow: ellipsis;
    float: left;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .pane-menu {
    float: right;
  }
  @extend .clearfix;
}

.pane-menu-dropdown-button {
  position: relative;
  .pane-more {
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
    top: -11px;
  }
}

.sidebar-footer {
  padding: 16px;
  background-color: $grey4;
  border-top: 1px solid $grey2;
  font-size: .875rem;
  p {
    margin: 0;
  }
}

.oam-blurb {
  font-size: 1.375rem;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  img {
    width: 60px;
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  h2 {
    font-size: 1.125rem;
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
  }
}

.results-list {
  padding: 16px 16px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin-bottom: 0;
}

.card {
  background-color: $grey2;
  box-shadow: $box-shadow-default;
  border-radius: $global-radius;
  margin-bottom: 16px;
  > a:hover {
    opacity: 1;
  }
  &:hover {
    background-color: #C7CED1;
    box-shadow: $box-shadow-hover;
  }
}

.card-result-entry {
  width: 216px;
}

.card-header {
  padding: 10px 10px 9px;
  border-bottom: 1px solid $grey1;
  line-height: 1.2;
  .card-title {
    font-size: 0.8125rem;
    color: $grey;
    margin-top: 0px;
    margin-bottom: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  dd {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.card-details {
  font-size: .875rem;
  line-height: 1.25;
  margin: 0;
  a {
    color: $black;
    text-decoration: underline;
  }
  span {
    color: $grey;
  }
  .card-date, .card-resolution {
    display: inline;
  }
}

.card-media {
  height: 163px;
  width: 216px;
  padding: 0 8px;
  img {
    height: 163px;
    width: 200px;
    object-fit: contain;
  }
}

#results-pane {
  margin-top: 96px;
  flex: 1;
}

.single-media {
  border-radius: $global-radius;
  background-color: $grey3;
  margin: 0 1rem;
  .user-details {
    a, span {
      display: flex;
      padding: 10px;
      border-bottom: 1px solid $grey1;
      color: $black;
      font-size: 1.125rem;
      font-weight: 500;
    }
    .profile-pic-wrapper {
      width: 40px;
      height: 40px;
      border: 1px solid $grey1;
      margin-right: 10px;
      img {
        width: 40px;
        height: 40px;
      }
    }
    .provided_by {
      display: block;
      text-transform: uppercase;
      color: $grey;
      font-weight: 400;
      font-size: .75rem;
      line-height: .7;
      padding-top: 7px;
      opacity: .75;
    }
  }
  .result-thumbnail {
    text-align: center;
    min-height: 100px;
    img {
      max-width: 100%;
      max-height: 250px;
      margin-bottom: -8px;
    }
  }
}

.single-actions {
  margin-top: 1rem;
  padding: 0 1rem;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid $grey2;
  }
  .actions {
    float: right;
    button {
      border: none;
      cursor: pointer;
      color: $grey;
      background-color: $grey3;
      padding: 5px 8px 3px;
    }
    .button--active {
      background-color: $darkBlue;
      color: white;
    }
  }
  .preview-options {
    .preview-tms {
      border-top-left-radius: $global-radius;
      border-bottom-left-radius: $global-radius;
    }
    .preview-thumbnail {
      border-top-right-radius: $global-radius;
      border-bottom-right-radius: $global-radius;
    }
  }
  .mdi-icon {
    stroke: none;
    fill: $grey;
    margin-right: 4px;
  }
}

.single-details {
  background-color: $grey4;
  padding: 0 1rem;
  margin-bottom: 0;
  line-height: 1.25rem;
  @extend .clearfix;
  dt, dd {
    float: left;
    margin: 0;
    padding: 1rem 0;
    box-shadow: inset 0 1px 0 0 $grey2;
    &:first-of-type {
      box-shadow: none;
    }
  }
  dt {
    width: 32%;
    text-transform: uppercase;
    color: $grey;
    font-size: 0.8125rem;
    font-weight: 500;
    letter-spacing: .035rem;
    clear: left;
    padding: 1.1rem 0 .9rem;
  }
  dd {
    width: 68%;
    text-align: right;
  }
}

.single-footer {
  background-color: $grey4;
  padding: 16px;
  border-top: 1px solid $grey2;
}

.single-pager {
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: $grey3;
  border-radius: $global-radius;
  overflow: hidden;
  a, span {
    padding: 10px;
  }
  a {
    display: block;
    color: $darkBlue;
    &:hover {
      opacity: 1;
      color: $teal;
      .mdi-icon {
        fill: $teal;
      }
    }
    &.previous {
      padding-right: 20px;
    }
    &.next {
      padding-left: 20px;
    }
  }
  span {
    position: relative;
    top: 2px;
    color: $grey;
  }
  .mdi-icon {
    transform: scale(1);
    stroke: none;
    fill: $darkBlue;
    position: relative;
    top: 1px;
  }
}

.profile {
  display: flex;
  align-items: top;
  margin-top: 32px;
  .pane-title {
    font-size: 2rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    margin-top: 0px;
  }
  .profile-pic-wrapper {
    width: 80px;
    height: 80px;
    border: 1px solid $grey3;
    margin-right: 12px;
    overflow: hidden;
    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
    }
  }
}
