.status-panel {
  max-width: 560px;
  margin: auto;
  margin-top: 100px;
  background-color: $grey5;
  padding: 2rem;

  .panel-footer {
    padding: 0;
    min-height: 1rem;
  }
  .status {
    &.bttn {
      padding: 4px;
    }
  }
  .given-title {
    font-weight: $base-font-weight;
  }
}


.status-details {
  margin: 0 -1rem 1rem -1rem;
  @extend .clearfix;
  dt, dd {
    float: left;
    margin: 0;
    padding: 0.5rem 1rem;
    box-shadow: inset 0 1px 0 0 0;
    &:first-of-type {
      box-shadow: none;
    }
  }
  dt {
    width: 32%;
    text-transform: uppercase;
    clear: left;
    padding-right: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: tint($base-color, 32%)
  }
  dd {
    width: 68%;
    text-align: right;
    padding-left: 0.5rem;
    word-break: break-word;
  }
  .name {
    font-weight: $base-font-regular;
    display: block;
  }
  .info-detail {
    strong {
      font-weight: $base-font-regular;
    }
    ul, li {
      list-style-type: none;
    }
  }
}

#upload-progress {
  overflow: auto;
  transition: all 1s ease-in-out;
  padding-left: 0.5rem;
  margin-top: 1rem;

  &.upload-inactive {
    opacity: 0;
  }

  .meter {
    box-sizing: content-box;
    height: 20px;
    position: relative;
    margin: 0;
    background: rgb(237, 239, 240);
    border-radius: 25px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  }

  .meter > span {
    display: block;
    height: 100%;
    border-radius: 4px;
    background-color: rgb(74, 96, 105);
    position: relative;
    overflow: hidden;
  }

  .meter > span:after, .animate > span > span {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    z-index: 1;
    background-size: 50px 50px;
    animation: move 2s linear infinite;
    border-radius: 4px;
    overflow: hidden;
  }

  .animate > span:after {
    display: none;
  }

  @keyframes move {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 50px 50px;
    }
  }
}

.form-actions {
  .upload-status {
    font-weight: 600;
    font-size: 0.75rem;
  }
}

.imagery-location {
  margin: 1rem 0;
}

.form-img-actions {
  float: right;
  margin-top: 4px;
}

.sk-folding-cube {
  margin: 7px 1px 5px 5px;
  width: 10px;
  height: 10px;
  position: relative;
  transform: rotateZ(45deg);
  float: right;
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $teal;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
  animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
  animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }

  25%, 75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }

  90%, 100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }

  25%, 75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }

  90%, 100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

.image-block {
  position: relative;
  background: tint($base-color, 88%);
  margin: 0 -1rem -1rem -1rem !important;
  padding: 1rem;
  box-shadow: inset 0 1px 0 0 0;
  &.status-processing {
    background: tint($info-color, 88%);
  }
  &.status-error {
    background: tint($danger-color, 88%);
  }
  &.status-success {
    background: tint($secondary-color, 88%);
  }
}

.image-block-title {
  margin: 0 0 0.5rem 0;
}
