// GLOBAL

button, input, select, textarea {
  font: inherit;
  height: auto;
  width: auto;
  margin: 0;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  height: 2rem;
  color: $base-font-color;
  background-color: #fff;
  background-image: none;
  border-radius: $global-radius;
  font-family: inherit;
  transform: translateZ(0);
  transition: all 0.24s ease 0s;
  box-shadow: inset 0 2px 0 0 rgba($base-color, 0.08), 0 0 0 1px rgba($base-color, 0.08), 0 1px 2px 0 rgba($base-color, 0.24);
  ::placeholder {
    color: tint($base-color, 64%);
  }
  &:focus {
    outline: 0;
    box-shadow: inset 0 2px 0 0 rgba($base-color, 0.08), 0 0 0 1px rgba($base-color, 0.32), 0 1px 2px 0 rgba($base-color, 0.24);
  }
}

select.form-control {
  box-shadow: inset 0 -2px 0 0 rgba($base-color, 0.08);
  cursor: pointer;
}

.form-control[disabled]
fieldset[disabled] .form-control {
  @extend .disabled;
}

.form-control[readonly] {
  cursor: text;
  opacity: 0.64;
}

textarea.form-control {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: none;
}

.input-m {
  padding: 0.5rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  height: 2rem;
}

.input-l {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  height: 2.5rem;
}

.input-xl {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 2rem;
  height: 3rem;
}

.form-group {
  margin-bottom: 1rem;
  @extend .clearfix;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  width: 100%;
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-bttn:first-child > .bttn,
.input-group-bttn:first-child > .bttn-group > .bttn,
.input-group-bttn:first-child > .dropdown-toggle,
.input-group-bttn:last-child > .bttn-group:not(:last-child) > .bttn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-bttn:first-child > .bttn-group:not(:first-child) > .bttn,
.input-group-bttn:first-child > .bttn:not(:first-child),
.input-group-bttn:last-child > .bttn,
.input-group-bttn:last-child > .bttn-group > .bttn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group .form-control {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 0;
  &:focus {
    z-index: 2;
  }
}

.input-group-bttn {
  position: relative;
  font-size: 0;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}

.input-group .form-control,
.input-group-bttn {
  display: table-cell;
}

legend,
label {
  font: inherit;
  color: inherit;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

legend {
  margin: 0 0 1rem 0;
  padding: 0;
  font-size: 1rem;
  display: block;
  width: 100%;
  line-height: inherit;
  border: 0;
  @include media(medium-up) {
    margin-bottom: 1.5rem;
  }
}

label {
  display: inline-block;
  width: auto;
  max-width: 100%;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 1.5rem;
  padding: 0;
  font-family: $base-font-family;
}

input[type=checkbox],
input[type=radio] {
  margin: 0.25rem 0 0;
  margin-top: 1px \9;
  line-height: normal;
}

.form-fieldset {
  margin-bottom: 2rem;
  > *:last-child {
    margin-bottom: 0;
  }
}

.form-legend {
  font-family: $base-font-family;
  font-weight: $base-font-bold;
  @include heading(1.25rem);
}

.checkbox,
.radio {
  position: relative;
  display: block;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  vertical-align: middle;
  label {
    padding-left: 1.25rem;
    margin-bottom: 0;
    font-weight: inherit;
    cursor: pointer;
  }
}

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
  position: absolute;
  margin-top: 0.25rem;
  margin-left: -1.25rem;
}


// FORM HORIZONTAL

.form-horizontal {
  @extend .clearfix;
}

.form-horizontal .form-label {
  &.none {
    @include media(xsmall-only) {
      border: 0 none;
      clip: rect(0px, 0px, 0px, 0px);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    @include media(small-only) {
      border: 0 none;
      clip: rect(0px, 0px, 0px, 0px);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }
  @include media(medium-up) {
    @include span-columns(2 of 8);
    padding-top: 0.125rem;
  }
}

.form-horizontal .form-control-set,
.form-horizontal .form-options-set {
  @include media(medium-up) {
    @include span-columns(6 of 8);
  }
}

.form-horizontal .form-options-set {
  @include media(small-up) {
    > * {
      @include span-columns(4);
      @include omega(2n);
    }
  }
  @include media(medium-up) {
    > * {
      @include span-columns(4);
      @include omega-reset(2n);
      @include omega(3n);
    }
  }
}

.form-help {
  margin-top: 0.5rem;
  opacity: 0.64;
}

.form-horizontal .form-note {
  margin-bottom: 2rem;
  > *:last-child {
    margin-bottom: 0;
  }
}

.form-horizontal .form-actions,
.form-horizontal .form-extra-actions,
.form-horizontal .form-note {
}

.form-horizontal .form-extra-actions {
  margin-bottom: 2rem;
}

// UPLOAD FORM

#upload-form {
  .form-fieldset {
    position: relative;
    padding: 0 0 1.5rem 0;
    margin: 0 0 1.5rem 0;
    > *:last-child {
      margin-bottom: 0;
    }
    &:after {
      position: absolute;
      bottom: 0;
      left: -1rem;
      right: -1rem;
      height: 1px;
      background: $brdr-rgba;
      content: "";
    }
  }
  .form-legend {
    float: left;
  }
  .form-fieldset-actions {
    position: absolute;
    right: 0;
    top: -0.25rem;
  }
  .form-actions {
    padding-bottom: 1rem;
  }
  .label-link {
    font-size: 0.875rem;
    font-weight: $base-font-weight;
  }
}

.imagery-location-fieldset {
  position: relative;
  margin-bottom: 1rem;
  .form-img-actions {
    position: absolute;
    right: 0;
    top: 0;
  }

  .imagery-location {
    width: calc(100% - 3rem);
  }
}

.imagery-location-import {
  button {
    margin-right: 1rem;
  }
}

.scene-contact {
  label {
    margin-bottom: 0;
    min-height: 0;
  }

  input {
    margin-bottom: 1em;
  }

  .radio {
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}
