
.rw-i {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1em;
  font-variant: normal;
}
.rw-i-caret-down:before {
  @extend %oam-ds-icon-sm-chevron-down;
}
.rw-i-caret-up:before {
  @extend %oam-ds-icon-sm-chevron-up;
}
.rw-i-caret-left:before {
  @extend %oam-ds-icon-sm-chevron-left;
}
.rw-i-caret-right:before {
  @extend %oam-ds-icon-sm-chevron-right;
}
.rw-i-clock-o:before {
  @extend %oam-ds-icon-clock;
}
.rw-i-calendar:before {
  @extend %oam-ds-icon-calendar;
}
.rw-i-search:before {
  @extend %oam-ds-icon-magnifier-right;
}
/* for debugging */
.rw-sr {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.rw-widget {
  outline: 0;
  -moz-background-clip: border-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
}
.rw-btn {
  color: #333333;
  line-height: 2.286em;
  display: inline-block;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  background: none;
  background-image: none;
  border: 1px solid transparent;
  padding: 0;
  white-space: nowrap;
}
.rw-rtl {
  direction: rtl;
}

.rw-input {
  @extend .form-control;
}

.rw-filter-input {
  position: relative;
  width: 100%;
}

.rw-rtl .rw-filter-input {
  padding-left: 1.9em;
  padding-right: 0;
}

.rw-filter-input > span {
  margin-top: -2px;
}
.rw-i.rw-loading {
  background: url("../images/loading.gif") no-repeat center;
  width: 16px;
  height: 100%;
}
.rw-i.rw-loading:before {
  content: "";
}
.rw-loading-mask {
  border-radius: 4px;
  position: relative;
}
.rw-loading-mask:after {
  content: '';
  background: url("../images/loader-big.gif") no-repeat center;
  position: absolute;
  background-color: #fff;
  opacity: 0.7;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.rw-now {
  font-weight: 600;
}
.rw-state-focus {
  background-color: #ffffff;
  border: #66afe9 1px solid;
  color: #333333;
}
.rw-state-selected {
  background-color: #adadad;
  border: #adadad 1px solid;
  color: #333333;
}
.rw-state-disabled {
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 1;
}
.rw-btn,
.rw-dropdownlist {
  cursor: pointer;
}
.rw-btn[disabled],
.rw-state-disabled .rw-btn,
.rw-state-readonly .rw-btn {
  -webkit-box-shadow: none;
  box-shadow: none;
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  opacity: .65;
}
ul.rw-list,
.rw-selectlist {
  margin: 0;
  padding-left: 0;
  list-style: none;
  padding: 5px 0;
  overflow: auto;
  outline: 0;
  height: 100%;
}
ul.rw-list > li,
.rw-selectlist > li {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
ul.rw-list > li.rw-list-optgroup,
.rw-selectlist > li.rw-list-optgroup {
  font-weight: bold;
}
ul.rw-list > li.rw-list-option,
ul.rw-list > li.rw-list-empty,
.rw-selectlist > li.rw-list-option,
.rw-selectlist > li.rw-list-empty {
  padding-left: 10px;
  padding-right: 10px;
}
ul.rw-list > li.rw-list-option,
.rw-selectlist > li.rw-list-option {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 3px;
}
ul.rw-list > li.rw-list-option:hover,
.rw-selectlist > li.rw-list-option:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
}
ul.rw-list > li.rw-list-option.rw-state-focus,
.rw-selectlist > li.rw-list-option.rw-state-focus {
  background-color: #ffffff;
  border: #66afe9 1px solid;
  color: #333333;
}
ul.rw-list > li.rw-list-option.rw-state-selected,
.rw-selectlist > li.rw-list-option.rw-state-selected {
  background-color: #adadad;
  border: #adadad 1px solid;
  color: #333333;
}
ul.rw-list.rw-list-grouped > li.rw-list-optgroup,
.rw-selectlist.rw-list-grouped > li.rw-list-optgroup {
  padding-left: 10px;
}
ul.rw-list.rw-list-grouped > li.rw-list-option,
.rw-selectlist.rw-list-grouped > li.rw-list-option {
  padding-left: 20px;
}
.rw-widget {
  position: relative;
}
.rw-open.rw-widget,
.rw-open > .rw-multiselect-wrapper {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.rw-open-up.rw-widget,
.rw-open-up > .rw-multiselect-wrapper {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.rw-combobox .rw-list,
.rw-datetimepicker .rw-list,
.rw-numberpicker .rw-list,
.rw-dropdownlist .rw-list,
.rw-multiselect .rw-list {
  max-height: 200px;
  height: auto;
}
.rw-widget {
  background-color: #ffffff;
  border: #cccccc 1px solid;
  border-radius: 4px;
}

.rw-rtl.rw-widget .rw-input {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.rw-widget > .rw-select {
  border-left: #cccccc 1px solid;
}
.rw-rtl.rw-widget > .rw-select {
  border-right: #cccccc 1px solid;
  border-left: none;
}
.rw-widget.rw-state-focus,
.rw-widget.rw-state-focus:hover {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  border-color: #66afe9;
  outline: 0;
}
.rw-widget.rw-state-readonly,
.rw-widget.rw-state-readonly > .rw-multiselect-wrapper {
  cursor: not-allowed;
}
.rw-widget.rw-state-disabled,
.rw-widget.rw-state-disabled:hover,
.rw-widget.rw-state-disabled:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #eeeeee;
  border-color: #cccccc;
}
.rw-combobox,
.rw-datetimepicker,
.rw-numberpicker,
.rw-dropdownlist {
  padding-right: 1.9em;
}
.rw-combobox.rw-rtl,
.rw-datetimepicker.rw-rtl,
.rw-numberpicker.rw-rtl,
.rw-dropdownlist.rw-rtl {
  padding-right: 0;
  padding-left: 1.9em;
}
.rw-combobox > .rw-input,
.rw-datetimepicker > .rw-input,
.rw-numberpicker > .rw-input,
.rw-dropdownlist > .rw-input {
  width: 100%;
  border: none;
  outline: 0;
}
.rw-select {
  position: absolute;
  width: 1.9em;
  height: 100%;
  right: 0;
  top: 0;
}
.rw-select.rw-btn,
.rw-select > .rw-btn {
  height: 100%;
  vertical-align: middle;
  outline: 0;
}
.rw-rtl .rw-select {
  left: 0;
  right: auto;
}
.rw-combobox:hover,
.rw-datetimepicker:hover,
.rw-numberpicker:hover,
.rw-dropdownlist:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
}
.rw-dropdownlist.rw-state-disabled,
.rw-dropdownlist.rw-state-readonly {
  cursor: not-allowed;
}
.rw-dropdownlist > .rw-input {
  line-height: 2.286em;
  background-color: transparent;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.rw-dropdownlist.rw-rtl > .rw-input {
  padding: 0.429em 0.857em;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}
.rw-dropdownlist > .rw-select,
.rw-dropdownlist.rw-rtl > .rw-select {
  border-width: 0;
}
.rw-numberpicker .rw-btn {
  display: block;
  height: 1.143em;
  line-height: 1.143em;
  width: 100%;
  border-width: 0;
}
.rw-popup {
  position: absolute;
  -webkit-box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border: #cccccc 1px solid;
  background: #ffffff;
  padding: 2px;
  overflow: auto;
  margin-bottom: 10px;
  left: 10px;
  right: 10px;
}
.rw-dropup > .rw-popup {
  margin-bottom: 0;
  margin-top: 10px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.rw-popup-container {
  position: absolute;
  top: 100%;
  margin-top: 1px;
  z-index: 1005;
  left: -11px;
  right: -11px;
}
.rw-popup-container.rw-dropup {
  top: auto;
  bottom: 100%;
}
.rw-popup-container.rw-calendar-popup {
  right: auto;
  width: 18em;
}
.rw-datetimepicker .rw-btn {
  width: 1.8em;
}
.rw-datetimepicker.rw-has-neither {
  padding-left: 0;
  padding-right: 0;
}
.rw-datetimepicker.rw-has-neither .rw-input {
  border-radius: 4px;
}
.rw-datetimepicker.rw-has-both {
  padding-right: 3.8em;
}
.rw-datetimepicker.rw-has-both.rw-rtl {
  padding-right: 0;
  padding-left: 3.8em;
}
.rw-datetimepicker.rw-has-both > .rw-select {
  width: 3.8em;
  height: 100%;
}
.rw-calendar {
  background-color: #ffffff;
}
.rw-calendar thead > tr {
  border-bottom: 2px solid #cccccc;
}
.rw-calendar .rw-header {
  padding-bottom: 5px;
}
.rw-calendar .rw-header .rw-btn-left,
.rw-calendar .rw-header .rw-btn-right {
  width: 12.5%;
}
.rw-calendar .rw-header .rw-btn-view {
  width: 75%;
  background-color: #eeeeee;
  border-radius: 4px;
}
.rw-calendar .rw-header .rw-btn-view[disabled] {
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.rw-calendar .rw-footer {
  border-top: 1px solid #cccccc;
}
.rw-calendar .rw-footer .rw-btn {
  width: 100%;
  white-space: normal;
}
.rw-calendar .rw-footer .rw-btn:hover {
  background-color: #e6e6e6;
}
.rw-calendar .rw-footer .rw-btn[disabled] {
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.rw-calendar-grid {
  height: 14.28571429em;
  table-layout: fixed;
  width: 100%;
}
.rw-calendar-grid th {
  text-align: right;
  padding: 0 .4em 0 .1em;
}
.rw-calendar-grid .rw-btn {
  width: 100%;
  text-align: right;
}
.rw-calendar-grid td .rw-btn {
  border-radius: 4px;
  padding: 0 .4em 0 .1em;
  outline: 0;
}
.rw-calendar-grid td .rw-btn:hover {
  background-color: #e6e6e6;
}
.rw-calendar-grid td .rw-btn.rw-off-range {
  color: #b3b3b3;
}
.rw-calendar-grid.rw-nav-view .rw-btn {
  padding: .25em 0 .3em;
  display: block;
  overflow: hidden;
  text-align: center;
  white-space: normal;
}
.rw-selectlist {
  padding: 2px;
}
.rw-selectlist > ul {
  height: 100%;
  overflow: auto;
}
.rw-selectlist > ul > li.rw-list-option {
  position: relative;
  min-height: 27px;
  cursor: auto;
  padding-left: 5px;
}
.rw-selectlist > ul > li.rw-list-option > label > input {
  position: absolute;
  margin: 4px 0 0 -20px;
}
.rw-selectlist > ul > li.rw-list-option > label {
  padding-left: 20px;
  line-height: 1.423em;
  display: inline-block;
}
.rw-selectlist.rw-rtl > ul > li.rw-list-option {
  padding-left: 0;
  padding-right: 5px;
}
.rw-selectlist.rw-rtl > ul > li.rw-list-option > label > input {
  margin: 4px -20px 0 0px;
}
.rw-selectlist.rw-rtl > ul > li.rw-list-option > label {
  padding-left: 0;
  padding-right: 20px;
}
.rw-selectlist.rw-rtl > ul > li.rw-list-option {
  padding-left: 0;
  padding-right: 5px;
}
.rw-selectlist.rw-rtl > ul > li.rw-list-option > label > input {
  margin: 4px -20px 0 0px;
}
.rw-selectlist.rw-rtl > ul > li.rw-list-option > label {
  padding-left: 0;
  padding-right: 20px;
}
.rw-selectlist.rw-state-disabled > ul > li:hover,
.rw-selectlist.rw-state-readonly > ul > li:hover {
  background: none;
  border-color: transparent;
}
.rw-multiselect {
  background-color: #ffffff;
}
.rw-multiselect:hover {
  border-color: #adadad;
}
.rw-multiselect-wrapper {
  border-radius: 4px;
  position: relative;
  cursor: text;
}
.rw-multiselect-wrapper:before,
.rw-multiselect-wrapper:after {
  content: " ";
  display: table;
}
.rw-multiselect-wrapper:after {
  clear: both;
}
.rw-multiselect-wrapper i.rw-loading {
  position: absolute;
  right: 3px;
}
.rw-multiselect-wrapper > .rw-input {
  float: left;
  outline: 0;
  border-width: 0;
  line-height: normal;
  width: auto;
  max-width: 100%;
}
.rw-multiselect-wrapper > .rw-input::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.rw-multiselect-wrapper > .rw-input:-ms-input-placeholder {
  color: #999999;
}
.rw-multiselect-wrapper > .rw-input::-webkit-input-placeholder {
  color: #999999;
}
.rw-state-readonly > .rw-multiselect-wrapper,
.rw-state-disabled > .rw-multiselect-wrapper {
  cursor: not-allowed;
}
.rw-rtl .rw-multiselect-wrapper > .rw-input {
  float: right;
}
.rw-multiselect-create-tag {
  border-top: 1px #cccccc solid;
  padding-top: 5px;
  margin-top: 5px;
}
.rw-multiselect-taglist {
  margin: 0;
  padding-left: 0;
  list-style: none;
  padding-right: 0;
}
.rw-multiselect-taglist > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.rw-multiselect-taglist > li {
  float: left;
  display: inline-block;
  margin: 1px;
  padding: 0.214em 0.15em 0.214em 0.4em;
  line-height: 1.4em;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 3px;
  border: 1px solid #cccccc;
  cursor: pointer;
}
.rw-multiselect-taglist > li.rw-state-focus {
  background-color: #ffffff;
  border: #66afe9 1px solid;
  color: #333333;
}
.rw-multiselect-taglist > li.rw-state-readonly,
.rw-multiselect-taglist > li.rw-state-disabled,
.rw-multiselect.rw-state-readonly .rw-multiselect-taglist > li,
.rw-multiselect.rw-state-disabled .rw-multiselect-taglist > li {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  opacity: .65;
}
.rw-multiselect-taglist > li .rw-btn {
  outline: 0;
  font-size: 115%;
  line-height: normal;
}
.rw-rtl .rw-multiselect-taglist > li {
  float: right;
}
