// GLOBAL

.panel {
  @extend %press-box-skin;
  margin-bottom: 2rem;
}

.panel-header {
  position: relative;
  z-index: 2;
  padding: 1rem;
  background: #fff;
  border-radius: $base-border-radius $base-border-radius 0 0;
  box-shadow: 0 1px 0 0 0;
  @extend .clearfix;
}

.panel-headline {
  float: left;
}

.panel-tools {
  float: right;
}

.panel-title {
  margin: 0;
  padding-right: 2rem;
  @include heading(1.25rem);
  @extend .truncated;
}

.panel-subtitle {
  opacity: 0.64;
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 0;
}

.panel-footer {
  position: relative;
  z-index: 2;
  background: #fff;
  border-radius: 0 0 $base-border-radius $base-border-radius;
  min-height: 1rem;
  padding: 1rem;
  box-shadow: 0 -1px 0 0 0;
  .manager-panel & {
    padding: 0;
  }
}

.panel-body {
  position: relative;
  z-index: 1;
  padding: 1rem;
  > *:last-child {
    margin-bottom: 0;
  }
}

.panel-blank-message {
  text-align: center;
  padding: 8rem 2rem;
}


// UPLOAD PANEL

.panel-all {
  width: 75%;
  max-width: 750px;
  margin: auto;
}

.upload-panel {
  @extend .panel-all;

  .panel-footer {
    padding: 0;
    min-height: 1rem;
  }
}

// STATUS PANEL

.status-panel {
  @extend .panel-all;

  .panel-footer {
    padding: 0;
    min-height: 1rem;
  }
  .status {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .given-title {
    font-weight: $base-font-weight;
  }
}

.status-details {
  margin: 0 -1rem 1rem -1rem;
  @extend .clearfix;
  dt, dd {
    float: left;
    margin: 0;
    padding: 0.5rem 1rem;
    box-shadow: inset 0 1px 0 0 0;
    &:first-of-type {
      box-shadow: none;
    }
  }
  dt {
    width: 32%;
    text-transform: uppercase;
    clear: left;
    padding-right: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: tint($base-color, 32%)
  }
  dd {
    width: 68%;
    text-align: right;
    padding-left: 0.5rem;
    word-break: break-word;
  }
  .name {
    font-weight: $base-font-regular;
    display: block;
  }
  .info-detail {
    font-style: italic;
    strong {
      font-weight: $base-font-regular;
    }
  }
}

.image-block {
  position: relative;
  background: tint($base-color, 88%);
  margin: 0 -1rem -1rem -1rem !important;
  padding: 1rem;
  box-shadow: inset 0 1px 0 0 0;
  &.status-processing {
    background: tint($info-color, 88%);
  }
  &.status-error {
    background: tint($danger-color, 88%);
  }
  &.status-success {
    background: tint($secondary-color, 88%);
  }
}

.image-block-title {
  margin: 0 0 0.5rem 0;
}
